<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../../component/layui/css/layui.css" />
		<link rel="stylesheet" href="../../admin/css/pearStep.css" />
		<link rel="stylesheet" href="../../admin/css/pearForm.css" />
		<link rel="stylesheet" href="../../admin/css/pearButton.css"/>
		<script type="text/javascript" src="../../resource/common/constant.js"></script>
		<script type="text/javascript" src="../../js/common/base.js"></script>
		<style>
			.pear-container {
				margin: 10px;
				background-color: whitesmoke;
			}

			.layui-carousel>[carousel-item] {
				position: relative;
				width: 100%;
				height: 60px;
				overflow: hidden;
			}

			.layui-card-body {
				position: relative;
				padding: 0px 0px;
				line-height: 24px;
			}

			.layui-form-label {
				float: left;
				display: block;
				padding: 9px 15px;
				width: 80px;
				font-weight: 200;
				line-height: 10px;
				text-align: right;
				font-size: 12px;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.layui-normal-label {
				float: left;
				display: block;
				/*padding: 9px 15px;*/
				/*width: 60px;*/
				width:auto;
				font-weight: 200;
				line-height: 10px;
				text-align: left;
				font-size: 12px;
				margin-top: 10px;
				margin-bottom: 10px;
				margin-left : 10px;
				display:inline-block !important; display:inline;
			}

			.layui-input {
				-webkit-appearance: none;
				background-color: #fff;
				background-image: none;
				border-radius: 4px;
				border: 1px solid #dcdfe6;
				box-sizing: border-box;
				color: #606266;
				display: inline-block;
				font-size: inherit;
				height: 30px;
				line-height: 40px;
				outline: none;
				padding: 0 15px;
				transition: border-color .2s cubic-bezier(.645,.045,.355,1);
				width: 100%;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			button, input, optgroup, option, select, textarea {
				font-family: inherit;
				font-size: inherit;
				font-style: inherit;
				font-weight: inherit;
				outline: 0;
				/*margin-top: 10px;*/
				margin-left:10px;
				margin-bottom: 10px;
			}

			.layui-icon-close:hover {
				transform: scale(1.3);
				-webkit-transform: scale(1.3);
				-moz-transform: scale(1.3);
				-o-transform: scale(1.3);
				-ms-transform: scale(1.3);
			}


			.layui-icon-ok:hover {
				transform: scale(1.3);
				-webkit-transform: scale(1.3);
				-moz-transform: scale(1.3);
				-o-transform: scale(1.3);
				-ms-transform: scale(1.3);
			}
		</style>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card">
				<div class="layui-card-body" style="padding-top: 60px;height:120px">
					<div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
						<div carousel-item id="carousel-item">
							<div id="step2">
								<div style="text-align: left;margin-top: 5px;">
									<button class="pear-btn pear-btn-success" id="btn-add">添加输出项</button>
									<button class="pear-btn pear-btn-success next" id="btn-next">下一步</button>
								</div>
							</div>
						</div>
						<div class="layui-card" id="card-add" style="display:none">
							<!--<div class="layui-card-body" style="padding-top: 60px;height: 50px;">-->
							<div class="layui-card-body">
								<form id="form" class="layui-form" action="javascript:void(0);">
									<i class="layui-icon layui-icon-ok" id="btn-submit" lay-submit lay-filter="add" style="font-size: 30px; color: #1E9FFF;float:right;vertical-align: middle;"></i>
									<i class="layui-icon layui-icon-close" id="btn-cancel" lay-submit lay-filter="del" style="font-size: 30px; color: #ff0000;float:right;vertical-align: middle;"></i>
									<input type="text"  style="display:none" id="toolId" name="toolId" class="layui-input"/>
									<input type="text" style="display:none" id="cate" name="cate" value="17" class="layui-input"/>
									<div class="layui-form-item" style="margin-top:10px;">

										<label for="name" class="layui-form-label">
											<span class="x-red">*</span>名称</label>
										<div class="layui-input-inline" style="width:100px;">
											<input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>

										<label for="minNum" class="layui-form-label">
											<span class="x-red">*</span>最小个数</label>
										<div class="layui-input-inline" style="width:100px;">
											<input type="text" id="minNum" name="minNum" required="" lay-verify="required" class="layui-input"></div>

										<label for="minNum" class="layui-form-label">
											<span class="x-red">*</span>最大个数</label>
										<div class="layui-input-inline" style="width:100px;">
											<input type="text" id="maxNum" name="maxNum" required="" lay-verify="required" class="layui-input"></div>
										<label for="input-type" class="layui-form-label">
											<span class="x-red">*</span>类型</label>
										<div class="layui-input-inline" style="width:100px;">
											<select id="input-type" name="type" class="valid">
											</select>
										</div>
										<label for="input-fileFormat" class="layui-form-label">
											<span class="x-red">*</span>文件格式</label>
										<div class="layui-input-inline" style="width:100px;">
											<select id="input-fileFormat" name="fileFormat" class="valid">
											</select>
										</div>

									</div>

									<div class="layui-form-item">
										<label for="prefix" class="layui-form-label">
											<!--<span class="x-red">*</span>-->前缀</label>
										<div class="layui-input-inline" style="width:100px;">
											<input type="text" id="prefix" name="prefix" required=""  class="layui-input"></div>

										<label for="input-prefixSplitSymbol" class="layui-form-label">
											<!--<span class="x-red">*</span>-->分隔符</label>
										<div class="layui-input-inline" style="width:100px;">
											<select id="input-prefixSplitSymbol" name="prefixSplitSymbol" class="valid">
												<!--<option value="10">空格</option>-->
											</select>
										</div>

										<label for="desc" class="layui-form-label">
											<span class="x-red">*</span>描述</label>
										<div class="layui-input-inline" style="width:100px;">
											<input type="text" id="desc" name="desc" required="" lay-verify="required" class="layui-input"></div>
										<div class="layui-input-inline" style="width:100px;margin-left:70px">
											<input type="checkbox" name="isMust" value="1" lay-skin="primary" title="必选项" checked="true">
										</div>
									</div>
								</form>

							</div>
						</div>

						<!--<div class="layui-card" id="card-list">
							<div id="card-list-body" class="layui-card-body" style="padding-top: 0px;height: 50px;margin:0 auto;overflow: hidden">
								<div class="layui-form-item" style="margin-top:10px;">
									<label class="layui-normal-label">名称：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">名称</label></div>

									<label class="layui-normal-label">最小个数：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">最小个数</label></div>

									<label class="layui-normal-label">最大个数：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">最大个数</label></div>

									<label class="layui-normal-label">类型：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">类型</label></div>

									<label class="layui-normal-label">文件格式：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">文件格式</label></div>

									<label class="layui-normal-label">前缀：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">前缀</label></div>

									<label class="layui-normal-label">分隔符：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">分隔符</label></div>

									<label class="layui-normal-label">描述：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">描述</label></div>

									<label class="layui-normal-label">是否必须：</label>
									<div class="layui-input-inline" style="width:100px;"><label class="layui-normal-label">是否必须</label></div>
								</div>

								<div class="layui-form-item" style="margin-top:10px;">

								</div>

							</div>
						</div>-->

					</div>

				</div>
			</div>
		</div>


		<script src="../../component/layui/layui.js"></script>
		<script>
			layui.use(['form', 'pearStep','element'], function() {
				var   $ = layui.$, form = layui.form, pearStep = layui.pearStep;
				initSelect($ ,form,'input-type','tool_input_and_output_type');
				initSelect($ ,form,'input-fileFormat','tool_input_and_output_file_format');
				initSelect($ ,form,'input-prefixSplitSymbol','tool_input_and_output_prefix_split_symbol');
				$('#toolId').val(getQueryVariable("toolId"));

				pearStep.render({
					elem: '#stepForm',
					filter: 'stepForm',
					width: '100%', //设置容器宽度
					stepWidth: '750px',
					height: '500px',
					stepItems: [{
						title: '基本信息'
					},{
						title: '输入项'
					}, {
						title: '输出项'
					}, {
						title: '参数'
					}, {
						title: '模板'
					}]
				});

				$('.lay-step').children().eq(1).children().eq(1).addClass("step-item-head-active");
				$('.lay-step').children().eq(2).children().eq(1).addClass("step-item-head-active");

				//监听提交
				$('#btn-cancel').click(function () {
					$('#card-add').hide();

					//$('#form').not('#toolId, #cate')[0].reset();
					//$('#form')[0].reset();
				})
				/*form.on('submit(del)',function(data) {
					$('#card-add').hide();
					$('#form')[0].reset();
				});*/


				//监听提交
				form.on('submit(add)',function(data) {
					$.ajax({
						url:serviceUrl+'/tool/addInputAndOutput',
						method:'post',
						data:data.field,
						dataType:'JSON',
						success:function(res){
							if(res.code='200'){
								console.log(res);
								//发异步，把数据提交给php
								$('#card-add').hide();
								//$('#form')[0].reset();

								$.ajax({
									url:serviceUrl+'/tool/inputAndOutput/pagelist',
									method:'post',
									data:{cate:'17',toolId:$('#toolId').val(),pageNum:1,pageSize:10},
									dataType:'JSON',
									success:function(res){
										if(res.code='200'){
											console.log(res);
											//发异步，把数据提交给php
											//$('#card-list').remove();
											$("div[id^='card-list-']").remove();
											$(res.data).each(function () {
												$('#stepForm').append(
														"<div class=\"layui-card\" id=\"card-list-\""+this.id+">"+
														"<div id=\"card-list-body\" class=\"layui-card-body\" style=\"padding-top: 0px;height: 50px;margin:0 auto;overflow: hidden\">"+
														"<div class=\"layui-form-item\" style=\"margin-top:10px;\">\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">名称：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.name+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">最小个数：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.minNum+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">最大个数：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.maxNum+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">类型：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.type+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">文件格式：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.fileFormat+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">前缀：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.prefix+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">分隔符：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.prefixSplitSymbol+"</label></div>\n" +
														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">描述：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.desc+"</label></div>\n" +

														"\n" +
														"\t\t\t\t\t\t\t\t\t<label class=\"layui-normal-label\">是否必须：</label>\n" +
														"\t\t\t\t\t\t\t\t\t<div class=\"layui-input-inline\" style=\"width:50px;\"><label class=\"layui-normal-label\">"+this.isMust+"</label></div>\n" +

														"\t\t\t\t\t\t\t\t</div>"+
														"</div>"+
														"</div>"
												);
												//$("#diagramContainer-left").append("<div  class=\'col-sm-12\'><div class=\'jnode-box jnode-rectangle bdc-primary\' data-template=\'jnode-template\' data-jnode=\'task\' id=\'"+this.id+"\' data-jnode-class=\'jnode-task bdc-primary\'><span style='font-size:8pt'>"+this.name+"</span></div> </div>");
											});

										} else {
											alert(res.msg);
										}
									},
									error:function (res) {

									}
								}) ;

							} else {
								alert(res.msg);
							}
						},
						error:function (res) {

						}
					}) ;
					return false;
				});

				/*$('.pre').click(function() {
					pearStep.pre('#stepForm');
					return false;
				});

				$('.next').click(function() {
					step.next('#stepForm');
				    return false;
				});*/

				$('#btn-add').click(function () {
					$('#card-add').show();
				});

				$('#btn-next').click(function () {
					window.location.href = "step-4.html?toolId="+getQueryVariable("toolId");
				});

			});

			function initSelect($,form,ele,group){
					$.ajax({
						//拼接下拉选项
						url:serviceUrl+'/common/dic/group',
						method:'post',
						data: {'group':group},
						dataType:'JSON',
						success: function (res) {
							if(res.code='200') {
								var data = res.data;
								for (var i in data) {
									$("#"+ele).append('<option value="' + data[i].code + '">' + data[i].name + '</option>');
								}
								form.render('select');
							}
						}
					});
			}
		</script>
	</body>
</html>
